/*-----------------------------------------*/
/*               PAGE LAYOUT               */
/*-----------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: "head" "nav" "main";
  height: 100vh;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

.navigation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

@media (min-width: 768px) {
  .grid-container {
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas: "head head" "nav main";
  }
}

/*-----------------------------------------*/
/*               MAIN LAYOUT               */
/*-----------------------------------------*/
.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0px, 1fr);
      grid-template-columns: minmax(0px, 1fr);
}

.dashboard section {
  border: 1px solid lightgrey;
  padding: 15px;
}

.dashboard section h3 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .dashboard {
    -ms-grid-columns: minmax(0px, 1fr) minmax(0px, 1fr);
        grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  }
  .dash-head,
  .traffic,
  .social {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

/* NAV */
.navigation {
  background-color: #343A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15px 15px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 35px;
  padding-top: 15px;
  border: 5px;
  border-left-style: outset;
  border-left-color: #343A4A;
  border-top-style: outset;
  border-top-color: #343A4A;
  border-bottom-style: inset;
  border-bottom-color: #343A4A;
  border-right-style: inset;
  border-right-color: #343A4A;
}

img.active-nav {
  border-top-color: #46A049;
}

@media (min-width: 768px) {
  /* NAV */
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 15px 15px 15px 0;
  }
  .navigation img {
    margin: 15px 0;
    padding-top: 0;
    padding-left: 15px;
    height: 40px;
  }
  img.active-nav {
    border-top-color: #343A4A;
    border-left-color: #46A049;
  }
}

/* HEADER */
.header, .user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #535993;
  color: white;
}

.header {
  padding: 10px 20px;
}

.notification-icon img {
  height: 25px;
  margin-right: 15px;
}

.profile-pic {
  border-radius: 50%;
  height: 50px;
  margin: 0 15px;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 700;
}

h1 span {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

.social-container {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  background-color: #f4f4f4;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.social-container:last-child {
  margin-bottom: 0;
}

.social-image {
  width: 80px;
  height: 80px;
  background-color: #535993;
  border-radius: 50%;
  padding: 20px;
}

.social-image img {
  width: 100%;
}

.social-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.social-text p:first-child {
  color: #535993;
  font-weight: bolder;
}

.social-text p:last-child {
  font-size: 50px;
}

@media (min-width: 1024px) {
  .social-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-container {
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 10px;
  }
  .social-container:last-child {
    margin-right: 0;
  }
}
