* {
    margin: 0;
    box-sizing: border-box
}

.grid-container {
    display: grid;
    grid-template-rows: 80px 50px 1fr;
    grid-template-areas: 
        "head"
        "nav"
        "main";
    height: 100vh;
}

header {
    background-color: aqua;
    grid-area: head;
}

nav {
    background-color: brown;
    grid-area: nav;
}

main {
    background-color: cornflowerblue;
    grid-area: main;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-rows: 80px 1fr;
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "head head"
        "nav main";
    }
}