/* DASHBOARD HEAD */
.dash-head {
    display: flex;
    align-items: center;
}

.dash-head h2 {
    padding: 15px;
    display: none;
}

.main-header-search {
    width: 100%;
    padding: 15px;
}

.main-header-search input {
    width: 100%;
}

@media (min-width: 500px) {


    .dash-head h2 {
        display: initial;
    }

    .main-header-search {
        margin-left: auto;
        width: 300px;
    }
}


/* MEMBERS & ACTIVITY */
.members-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
    flex-wrap: wrap;
}

.members-container:last-child {
    border-bottom: none;
}

.members-container p:last-child {
    margin-left: auto;
}

.members-container img {
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}

.activity-text p:last-child {
    color: #535993;
    font-size: small;
    font-weight: bold;
}

.activity-text + p {
    font-size: x-large;
    color: #535993;
}



/* SETTINGS */


.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.switch-light {
    display: flex;
    align-items: center;
}

.switch-ios.switch-light .toggle {
    width: 70px;
    margin-left: auto;

}

.form-field, .switch-light {
    padding-bottom: 10px;
}



select {
    width: 100%;
}

.settings button {
    width: 49%;
}

.button-disabled {
    float: right;
}

/* TRAFFIC TOGGLE */
.traffic h3 {
    display: inline-block;
    padding-bottom: 15px;
}

.switch-toggle {
    float: right;
    width: 250px;
    height: 30px;
}

.switch-ios input:checked + label {
    color: white;
}

.switch-ios.switch-toggle {
    box-shadow: none;
    background-color: transparent;
    font-size: x-small;
    width: 150px;
}


@media (min-width: 400px) {
    .switch-ios.switch-toggle {
        font-size: small;
        width: 250px;
    }
}

@media (min-width: 600px) {
    .switch-ios.switch-toggle {
        font-size: medium;
        width: 400px;
    }
}