/* HEADER */
.header, .user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #535993;
    color: white;
}

.header {
    padding: 10px 20px;
}

.notification-icon img {
    height: 25px;
    margin-right: 15px
}

.profile-pic {
    border-radius: 50%;
    height: 50px;
    margin: 0 15px;
}

/* NAV */

.navigation {
    background-color: #343A4A;
}