/* HEADER */
.header, .user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #535993;
    color: white;
}

.header {
    padding: 10px 20px;
}

#notification {
    background-color: #00B382;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: -3px;
}

.notification-icon {
    position: relative;
    display: inline-block;
}

.notification-icon img {
    height: 25px;
    margin-right: 15px
}

.notification-icon img:hover {
    animation-name: ring;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    cursor: pointer;
  }

  
  
  @keyframes ring {
    0% { transform: rotate(-10deg) }
    20% { transform: rotate(10deg) }
    40% { transform: rotate(-10deg) }
    60% { transform: rotate(10deg) }
    80% { transform: rotate(-10deg) }
    100% { transform: rotate(10deg) }
  }

  .dropdown-content {
    padding: 0 15px;
    top: 50px;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 500px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content p {
      color: #535993;
      position: relative;
      font-size: large;
      padding: 15px 0;
      border-bottom: 1px solid lightgrey;
  }

  .dropdown-content p:last-child {
      border-bottom: none;
  }

.profile-pic {
    border-radius: 50%;
    height: 50px;
    margin: 0;
}

.user-name {
    display: none;
}

@media (min-width: 500px) {
    .user-name {
        display: initial;
    }

    .profile-pic {
       
        margin: 0 15px;
    }

}