/* NAV */

.navigation {
    background-color: #343A4A;
    display: flex;
    justify-content: space-around;
    padding: 0 15px 15px 15px;
    align-items: center;
}

.navigation img {
    box-sizing: content-box;
    height: 35px;
    padding-top: 15px;
    border: 5px;
    border-left-style: outset;
    border-left-color: #343A4A;
    border-top-style: outset;
    border-top-color: #343A4A;
    border-bottom-style: inset;
    border-bottom-color: #343A4A;
    border-right-style: inset;
    border-right-color: #343A4A;
}

img.active-nav {
    border-top-color: #46A049;
}



@media (min-width: 768px) {
    /* NAV */
    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 15px 15px 0;
    }

    .navigation img {
        margin: 15px 0;
        padding-top: 0;
        padding-left: 15px;
        height: 40px;
    }

    img.active-nav {
        border-top-color: #343A4A;
        border-left-color: #46A049;
    }
    
}